body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.resume {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.photo {
    flex: 0 0 auto;
    margin-right: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contactos {
    flex: 1;
}

.section {
    padding: 10px 0;
    position: relative;
}

.section.full-width {
    width: calc(100% - 40px);
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.section.full-width::before, .section.full-width::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #ddd;
    margin: 0 auto 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.left-column {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-column {
    flex: 0 0 45%;
}

.section:not(:last-child)::after {
    content: "";
    display: block;
    height: 2px;
    background: #ddd;
    margin: 20px 0;
}

h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1.5em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

p {
    color: #555;
    line-height: 1.6;
}

.contactos h2, .photo img {
    margin-bottom: 5px;
}
